<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script> -->
    <script src="vue.js"></script>
    
    <link href="style.css" rel="stylesheet"/>
    <title>Document</title>
</head>
<body>
   
    <div id="vue-app">
        <h1>Keyboard Events</h1>
        <label>Name:</label>
        <input type="text" v-model="name" v-on:keyup.enter="logName" />
        <span>{{name}}</span>
        <br>
        <label>Age:</label>
        <input type="text" v-model="age" v-on:keyup.alt.enter="logAge" />
        <span>{{ age }}</span>
    </div>
    
</body>
<!-- 需要放在div使用的后面 -->
    <script src="app.js"></script>
</html>